*{

	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-image: url("https://www.wallpaperkiss.com/wimg/b/174-1749951_big.jpg");
	background-size: cover ;
	background-attachment: fixed;
}

.contenedor{

	background-color: hsla(17, 66%, 29%, 0.95);
	width: 400px;
	padding: 60px;
    position: relative;
    left: 40%;
	margin-top: 15%;
	border-radius: 10px;
	color: white;
	font-family: initial;
	box-shadow: 7px 13px 37px rgb(211, 198, 198);


}

.contenedor h1{
 
   font-family: initial;
   font-size: 22px;
   margin-bottom: 20px;
   text-align: center;
   
}

.box{
	width: 100%;
	background: #ffffff;
	padding: 10px;
	border-radius: 4px;
	margin-bottom: 16px;
	border: 1px solid rgb(255, 255, 255);
	font-size: 15px;
	font-family: italic;
	color: white;
}

p{
	text-align: center;
	font-size: 17px;
	height: 28px;
	line-height: 28px;
}

a{
	color: rgb(251, 247, 247);
	text-decoration: none;
}

a:hover{
	color: #8029b3;
}

.boton{
	width: 100%;
	background: #f1f2f5;
	padding: 10px;
	font-size: 16px;
    border-style: none;
}